.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 130px;
}

.login-block{
  background: linear-gradient(to right, #191654, #43C6AC);
  float:left;
  width:100%;
  padding :5px 0;
}
.banner-sec{background:url(https://www.google.com.pe/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjbweaNr4DeAhUh0FkKHTM-DwIQjRx6BAgBEAU&url=https%3A%2F%2Fvitalis-blog.com%2Fcomo-gestionar-eficazmente-tus-citas-medicas-con-vitalis-bienestar%2F&psig=AOvVaw1Nr9j9yUVukW176oAHZc2y&ust=1539415314334329)  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}
.container{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text a{color:#E36262;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
.login-sec h2:after{content:" "; width:100px; height:5px; background: #43C6AC; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background:  #43C6AC; color:#fff; font-weight:600;}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#3C3B3F;
  font-weight: 900;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#43C6AC; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#753a88}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
